@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: #fff url(Images/watercolour.png);
        color: darkblue;
    }
</style>

<style>
    .jumbotron {
        background-color: aliceblue
    }
</style>
<div class="jumbotron">
    <div class="container">
        <h1>Салон красоты "Вы ужасны"</h1>
        <h2>Добро пожаловать! Выбирайте наши услуги и будьте красивыми</h2>
    </div>
</div>