@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Салон красоты "Вы ужасны"</h1>
        <p>Добро пожаловать! Выбирайте наши услуги и будьте красивыми</a></p>
        <img src="~/Images/background.jpg" width="1000" height="500" />
    </div>
